body {
  margin: 0;
  padding: 0;
  background: black;
}
#scrollFirst {
  position: absolute;
  bottom: 100px;
  left: 100px;
  width: 8px;
  background: white;
  border-radius: 4px;
}

#scrollSecond {
  position: absolute;
  bottom: 100px;
  left: 200px;
  width: 8px;
  background: white;
  border-radius: 4px;
}