body {
  margin: 0;
  padding: 0;
  background: black;
}
#scrollFirst {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 15px;
  background: white;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);  
}