body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}
.meter {
  position: absolute;
  bottom: 100px;
  width: 15px;
  border-radius: 100px;
}
#meterWhite {
  left: 130px;
  background: white;
}
#meterRed {
  left: 100px;
  background: red;
}